{% extends "bootstrap/base.html" %}
{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet"/>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('root.home') }}">Innovation Center</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated() %}
        <li>
          <img class="img-circle" src="{{ current_user.gravatar(size=48)}}">
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% if current_user.is_admin() %}
              <li><a href="/admin/user">Admin Dashboard</a></li>
            {% endif %}
            <li><a href="{{ url_for('auth.profile', username=current_user.username) }}">My Profile</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
          </ul>
        </li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="container text-center">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flashes alert alert-{{ category }} alert-dismissable"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{ message }}</div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $('.flashes').delay(3000).fadeOut('slow');
  </script>
{% endblock %}