{% extends "bootstrap/base.html" %}
{% import "macros.html" as macros %}
{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet"/>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('root.home') }}">{{ config['PROJECT'] }}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated() %}
        <li>
          <img class="img-circle" src="{{ current_user.gravatar(size=48)}}">
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('auth.profile', username=current_user.username) }}">My Profile</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
          </ul>
        </li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="container text-center">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flashes alert alert-{{ category }} alert-dismissable"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>{{ message }}</div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-7 col-md-offset-1">
    {% for article in articles %}
    <div class="row absolute-positioned">
      <div class="col-md-3 verticle-align">
        <a class="thumbnail" href="{{ url_for('root.get_article', article_id=article.id) }}">
          <img src="http://placehold.it/150x150">
        </a>
      </div>
      <div class="col-md-9">
        <h2> {{ article.title }}</h2>
        <p class="text-muted large-article lead">{{ article.body }}</p>
        <div class="author">
          <img class="img-circle" src="{{ article.author.gravatar(size=32) }}">
          Written by {{ article.author.first_name }} {{ article.author.last_name }} on 
          {{ moment(article.time_written).fromNow() }}
        </div>
      </div>
    </div>
    <hr/>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <h1 class="lead">About this Site</h1>
    <p class="text-muted">This is a good site. You like this site. You know you do</p>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      {{ macros.pagination(pagination, 'root.home') }}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
  <script type="text/javascript">
    $('.flashes').delay(3000).fadeOut('slow');
  </script>
{% endblock %}